<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
</head>
<body>
<form>
	<p><br>1. Как правильно пишется слово?
	<br><input type="radio" name="answer1" value="0">девочка
	<br><input type="radio" name="answer1" value="1">дѣвочка </p>
</form>
<form>
	<p><br>2. Как правильно пишется слово?
	<br><input type="radio" name="answer2" value="0">обижаѣтъ
	<br><input type="radio" name="answer2" value="1">обижаетъ </p>
</form>
<form>
	<p><br>3. Как правильно пишется слово?
	<br><input type="radio" name="answer3" value="1">въ Европѣ
	<br><input type="radio" name="answer3" value="0">въ Европе </p>
</form>
<form>
	<p><br>4. Как правильно пишется слово?
	<br><input type="radio" name="answer4" value="0">кавалѣръ 
	<br><input type="radio" name="answer4" value="1">кавалеръ  </p>
</form>
<form>
	<p><br>5. Как правильно пишется слово?
	<br><input type="radio" name="answer5" value="1">обалдѣлый
	<br><input type="radio" name="answer5" value="0">обалделый </p>
</form>
<form>
	<p><br>6. Как правильно пишется слово?
	<br><input type="radio" name="answer6" value="0">убѣдительнейшій
	<br><input type="radio" name="answer6" value="1">убѣдительнѣйшій </p>
</form>
<form>
	<p><br>7. Как правильно пишется слово?
	<br><input type="radio" name="answer7" value="1">абхазецъ
	<br><input type="radio" name="answer7" value="0">абхазѣцъ </p>
</form>
<form>
	<p><br>8. Как правильно пишется слово?
	<br><input type="radio" name="answer8" value="0">жѣлезо
	<br><input type="radio" name="answer8" value="1">желѣзо </p>
</form>
<form>
	<p><br>9. Как правильно пишется слово?
	<br><input type="radio" name="answer9" value="1">игемонъ
	<br><input type="radio" name="answer9" value="0">игѣмонъ </p>
</form>
<form>
	<p><br>10. Как правильно пишется слово?
	<br><input type="radio" name="answer10" value="0">манѣра
	<br><input type="radio" name="answer10" value="1">манера </p>
</form>
<form action = "/testresult">
	<p><input type="submit"></p>
</form>
</body>
</html>